html,
body {
  margin: 0;
  padding: 0;
}

.background {
  height: 100vh;
  width: 100vw;
  background-color: #1d0e0a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  color: #fdaf01;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 10%;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.title:hover {
  cursor: default;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.button {
  width: 300px;
  height: 75px;
  border-radius: 50px;
  border: none;
  background-color: #fdaf01;
  color: #1d0e0a;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  opacity: 75%;
  border: #fdaf01 solid 1px;
  font-family: "Times New Roman", Times, serif;
}

.b1 {
  margin-bottom: 1rem;
}

.button:hover {
  opacity: 100%;
}

.b2 {
  margin-bottom: 1rem;
  background-color: #1d0e0a;
  color: #fdaf01;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "Times New Roman", Times, serif;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.backButton {
  color: #fdaf01;
  font-size: 2rem;
  margin: 0;
  opacity: 90%;
}

.backButton:hover {
  opacity: 100%;
}

.frame {
  background-color: #1d0e0a;
  min-width: 768px;
  max-width: 30%;
  max-height: 70%;
  padding: 1rem;
  border-radius: 50px;
  overflow-y: scroll;
}

@media (max-width: 800px) {
  .frame {
    background-color: #1d0e0a;
    min-width: 90%;
    max-height: 50%;
    padding: 1rem;
    border-radius: 40px;
    overflow-y: scroll;
  }
}

.frame::-webkit-scrollbar {
  display: none;
}

.scores {
  color: #fdaf01;
  font-size: 2rem;
  font-weight: bold;
  text-align: justify;
}

.text {
  color: #fdaf01;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: justify;
  margin-top: 1rem;
}

p::selection {
  background: #fdaf01;
  color: #2d1812;
}

p::-moz-selection {
  background: #fdaf01;
  color: #2d1812;
}

p {
  margin: 0.3rem;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.margin-bottom {
  margin-bottom: 1rem;
}
